<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            forceCoversAnnotation="true"
            colors="true"
            verbose="true">
    <php>
        <ini name="zend.enable_gc" value="1" />
    </php>
    <testsuites>
        <testsuite name="Halo">
            <file>../src/Lunr/Halo/Tests/LunrBaseTestReflectionTest.php</file>
            <file>../src/Lunr/Halo/Tests/LunrBaseTestMockTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/Lunr/</directory>
            <exclude>
                <directory>../src/Lunr/Halo/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"/>
    </logging>
</phpunit>
